*, html{
	margin: 0px;
	padding: 0px;
}
body{
    background-image: url();
}

.header{
	width: 100%;
	height:100px;
	background-color: #FFCDFF;
}

.background1{
    background: url("img/bg1.jpg") fixed 0 0 no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    
}

.introduction{
	background-color: lightgrey;
  width: 500px;
  border: 25px solid #BDD7FF;
  padding: 25px;
  margin-top: 30px;
  margin-left: 70px;
}

.mainbutton{
background-color: #4CAF50;  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 220px;
  margin-top: 30px;
}

.button1 {
  background-color: #DE605F; 
  color: black; 
  border: 2px solid #DE605F;
}

.button1:hover {
  background-color: white;
  color: black;
}

.quin1{
	position: absolute;
	top: 8px;
 	right: 550px;
}

.doggo1{
	position: absolute;
	top: 8px;
 	right: 270px;
}

.doggo2{
	position: absolute;
	top: 256px;
 	right: 550px;
}

.doggo3{
	position: absolute;
	top: 8px;
 	right: 75px;
}

.doggo4{
	position: absolute;
	top: 358px;
 	right: 318px;
}

.contactus{
	background-color: lightgrey;
  width: 600px;
  border: 25px solid #BDD7FF;
  padding: 25px;
  margin-left: 800px;
}

.nav-item{
	margin-top: 50px;
	font-family: 'Bitter', serif;
}

.container2{
	width: 100%;
	height:500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.container2 .box{
	position: relative;
	width: 200px;
	height: 200px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.container2 .box .imgbox{
	position: relative;
	overflow: hidden;
}
.container2 .box .imgbox img{
	max-width: 100%;
	transition: transform 2s;
}
.container2 .box:hover .imgbox img{
	transform: scale(1.2);
}
.container2 .box .details{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container2 .box:hover .details{
	transform: scaleY(1);
}
.container2 .box .details .content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container2 .box .details .content h3{
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}
.container2 .box .details .content p{
	margin: 10px 0 0;
	padding: 0px;
	font-size: 10px;
}

.footer{
	width: 100%;
	height:50px;
	background-color: #FFCDFF;
}

